repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
        - id: end-of-file-fixer
        - id: trailing-whitespace
        - id: check-yaml
          exclude: \.gitlab-ci\.yml|ci_(.*)\.yml
        - id: check-docstring-first
        - id: check-executables-have-shebangs
        - id: check-merge-conflict
        - id: check-case-conflict
        - id: check-added-large-files
          args: ['--maxkb=500']
        - id: detect-private-key

    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.15.1
      hooks:
        - id: ruff-check
          args: ["--fix"]
        - id: ruff-format

    - repo: https://github.com/executablebooks/mdformat
      rev: 1.0.0
      hooks:
        - id: mdformat
          name: format-markdown
          additional_dependencies:
            - mdformat-gfm
            - mdformat_frontmatter
          exclude: CHANGELOG.md

    - repo: https://github.com/rhysd/actionlint
      rev: v1.7.11
      hooks:
        - id: actionlint
